/* CSS Demo Stylesheet */
/*background:green; is really powerful, if you want to see why something is behaving a way apply it*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
/*------------------ Utility Classes -----------------------*/
.container {
    width:80vw;
    max-width:960px;
    margin:40px auto;
}

.img-right{
    float:right;
    border:1px solid #000000;
    padding:5px;
    margin:10px 0 10px 20px;
    /*max-width:30vw; since this is a global container ALL imagines with this container are going to be 30% of the page size*/


}
.img-left{
    float:left;
    border:1px solid #000000;
    padding:5px;
    margin:10px 20px 10px 0px;
}
.img-center{
    display:block;
    margin:10px auto;
    border:1px solid #000000;
    padding:5px;
}

/*------------------ Responsive Images ---------------------*/

img {
    max-width:100%;
}

body {
background-color:#ffebcd;

    font-family: "Playwrite IT Moderna", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin:0;
}

    main {

    }
/*svg the unique backgrounds that can be put into our code*/
    header.primary {
        background-color:#F0A66E;
        background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%230c041a' fill-opacity='0.2'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        color:#000000;

        text-align: center;
        text-shadow: 2px 2px #F0906E;

        padding-top: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        padding-left: 40px;

        /*or if you wanted it all to be the same value*/
        padding: 40px;
        /*or Top, Right, Bottom, Left */
        padding: 20px 40px 20px 40px;
        /*or! Two Values Top/Bottom / L/R*/
        padding: 20px 40px;
    }

    header.primary h1 {
        font-size:2.4rem;
        /* Top | left and right | bottom */
        margin: 20px 0 0;
    }

    header.primary h1 a {
        color:#ffffff;
        text-decoration:none;
    }

    header.primary h2 {
        font-size: 1.3rem;
        margin: 0;
        letter-spacing:.2px;
    }

    nav.primary {
        text-decoration:none;
    }

    nav.primary ul {
        padding:0;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        max-width:960px;
        margin:20px auto;
    }

    nav.primary ul li {
        list-style-type:none;
    }

    nav.primary ul li a {
        color:darkblue;
        font-size:.9rem;
        text-decoration:none;
        text-shadow:none;
        border: 1px dashed darkblue;
        border-radius:20px 5px;
        padding: 1px 10px;
        /* Most time designers will use both background because some browsers don't support rgb */
        background-color:white;
        background-color:rgba(255, 255, 255, 0.479);
        transition:.4s;
    }

    nav.primary ul li a:hover {
        background-color:rgba(255, 255, 255, 0.687);
    }


    #content {
        background-color:#F0A66E;
    }

    #content h2{
        color:white;
        border-bottom: 2px dotted white;
    }
    
    #content h3{
        border-left: 5px solid white;
        padding: 5px 0 5px 10px;
    }

    #blog {
        display:flex;
        flex-direction:row;
        justify-content:center;
        gap:20px;
        border-top:2px solid black;
        border-bottom:2px solid black;
        padding:40px 0px;
    }

    #blog article.post {
        background-color:#F0A66E;
        box-shadow: 0px 4px 10px 1px black;
        padding: 5px 10px;
        font-size:.8rem;
        border-radius:8px;
        /*transition:.4s;*/
    }

    figure {
        margin:0;
    }

    figcaption, time {
        text-transform:uppercase;
        font-size:.5rem;
        text-shadow:black;
    }

    #blog article.post a {
        background:green;
    }

    aside[role="complementary"] {
        background:#F0906E;
        padding:40px 0;
    }

    aside .container {
        display:flex;
        flex-direction: row;
        gap:40px;
    }

    aside .container a {
        color:#ffffff;
    }
/* the top changes all links to white text, and below only the last link will be indented and shifted to the right. */
    aside .container a:last-child {
        display:block;
        text-align:right;
    }

    aside footer {
        display:none;
    }

    aside article footer {
        display:none
    }

    #colophon{
        background-color:#F0A66E;
        padding:1px;
        text-align:center;
        color:#ffffff;
        text-shadow:1px 1px #ffffff;
    }

    #practice h2 {
        background-color:green;
    }

    #practice a {
        background-color:green;
    }

    #practice a:hover {
        text-decoration:none;
    }

    table{
        width:100%;
        border:1px solid #000000;
        border-collapse:collapse;
    }
    caption{
        font-weight: bold;
        margin: 10px;
        font-size:1.3rem;
    }
    tr:nth-child(even){
        background-color: rgba(0, 0, 0, 0);

    }
    tr:nth-child(odd){
        background-color: rgba(0, 0, 0, 0.1);
    }
    tr:hover{
        background-color: rgba(0, 0, 0, 0.3);
    }
    th{
        background-color:#F0A66E;
        padding:7.5px;
    }
    td{
        border:1px solid #000000;
        padding:5px;
    }
    td:nth-child(n+2){
        text-align:right;
    }

    #practice ol{
        background-color:green;
        list-style-type:upper-roman;
    }

    /*Highest level specificity, #practice ul ul will work but may overlap in the future*/
    #practice ul li ul li{
        background-color:green;
        list-style-type:square;
    }

    #practice dl dt{
        font-weight:bold;
    }

    #practice dl dd{
        margin:0;
    }

    dd + dt{
        /*background-color:green;*/
        margin-top:20px;
    }

    #practice blockquote{
        border:4px dotted black;
        padding:20px 40px;
        margin: 40px 80px;
        border-radius:30px;
        background-color:#F0A66E;
        background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%230c041a' fill-opacity='0.2'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        color:white;
        text-shadow:1px 1px black;
    }

    #practice blockquote cite{
        display:block;
        text-align:right;
        font-size:0.7rem;
        margin-top:0.8rem;
    }









    @media screen and (max-width:680px) {
        nav.primary ul{
            flex-direction:column;
            gap:1px;
            max-width:200px;
            margin:20px auto; 
        }
        nav.primary ul li a{
            display:block;
        }
    }



    Color Theme Swatches in Hex
header.primary background { color: #F0A66E; }
.Color-2 { color: #F0CC6E; }
.Color-3 { color: #F0BC6E; }
.Color-4 { color: #F0906E; }
.Color-5 { color: #f0db6e; }
entire background { color: #ffebcd; }